<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Logged In</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src='/javascripts/dashboard.js'></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h1>SabKaDriver</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"> 
                    <form method='post' action='/logout'><button class="btn btn-warning" type='submit' onclick=' return logMeOut()'>LogOut</button></form>
                </div>
            </div>
            <div class="row" style="margin-top: 5%;">
                <div class="col-md-12">
                    <p>Welcome to SabKaDriver! Your commuting needs are now just a few clicks away, To find a driver that perfectly</p>
                </div>
            </div>
            <div class="row" style="margin-top: 2%;">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    <form action="/action_page.php">
                        <div class="form-group">
                            <label for="source-latitude">Source Latitude:</label>
                            <input type="text" class="form-control" id="source-latitude">
                        </div>
                        <div class="form-group">
                            <label for="source-longitude">Source Longitude:</label>
                            <input type="text" class="form-control" id="source-longitude">
                        </div>
                        <div class="form-group">
                            <label for="destination-latitude">Destination Latitude:</label>
                            <input type="text" class="form-control" id="destination-latitude">
                        </div>
                        <div class="form-group">
                            <label for="destination-longitude">Destination Longitude:</label>
                            <input type="text" class="form-control" id="destination-longitude">
                        </div>

                        <div class="form-group">
                            <label for="Special Features">Special Features Needed:</label><br>
                            <input type="checkbox" name="feature" value="CPR"> CPR<br>
                            <input type="checkbox" name="feature" value="OxygenCylinder"> Oxygen Cylinder<br>
                        </div>
                        <!-- <button type="submit" class="btn btn-default">Submit</button> -->
                    </form>
                </div>
                <div class="col-md-3">
                </div>

                <!-- <div>
                    <form>
                        Source Latitude: <input type="text" id="source-latitude"><br>
                        Source Longitude: <input type="text" id="source-longitude"><br>
                        Destination Latitude: <input type="text" id="destination-latitude"><br>
                        Destination Longitude: <input type="text" id="destination-longitude"><br>
                        Special facilities: <br>
                        <input type="checkbox" name="feature" value="CPR">CPR<br>
                        <input type="checkbox" name="feature" value="OxygenCylinder">Oxygen Cylinder<br>
                    </form>
                    <table id="driverDetails">
                    </table>
                </div> -->
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form method='get' action='/list'><button class="btn btn-info" type='button' onclick=' return suggestRiders()'>Show list of available riders</button></form>
                </div>
                <div class="col-md-3"></div>
            </div>
            <!-- <div class="row">
                <div class="col-md-4">
                    <h1> </h1>
                </div>
            </div> -->
            
        </div>
    </body>
</html>