<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src='/javascripts/login.js'></script>
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1><%= title %></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p>Welcome to <%= title %></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-4">
                <h3>SIGN UP</h3>
                <form id="signUpForm">
                    <div class="form-group">
                        <label>Username</label>
                        <input class="form-control" type="text" name="username" placeholder="username" required>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input class="form-control" type="password" name="password" placeholder="password" id="signUpFormPasswordInput" disabled><br><br>
                    </div>
                      
                    <input type="checkbox" name="isMetamaskSignUp" id="signUpFormMetamaskCheckBox" checked="true">
                    <label>Keep the box checked for signup using metamask</label><br>
                    <button class="btn btn-success" type="submit">Sign Up</button>
                    <div id="signUpFormLogMessage"></div>
                </form>
            </div>
            <div class="col-md-offset-2 col-md-4">
                <h3>LOGIN</h3>
                <form id="loginForm">
                    <div class="form-group">
                        <label>Username</label>
                        <input class="form-control" type="text" name="username" placeholder="username" required>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input class="form-control" type="password" name="password" placeholder="password" required><br><br>
                    </div>
                    <button class="btn btn-success" type="submit">Login</button>
                    <div id="loginFormLogMessage"></div>
                </form>
                <br><br>
                <button class="btn btn-info" id="loginBtn">Login Using Metamask</button>
            </div>
        </div>
    </div> 
  </body>
</html>
