body {
  padding: 50px;
  font-family: 'Vollkorn', serif;
}

a {
  color: #00B7FF;
}

#driverDetails {
	border-collapse:separate; 
    border-spacing:0 15px; 
}

#bookingDetails {
	display: none;
	border-style: solid;
	border-color: red;
	padding: 10px;
	border-radius: 5px;
}

.dashboard {
	font-family: 'Vollkorn', serif;
}